* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    background: #9fb2c684;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* ---------------------imagens da pagina home ----------------------*/
/*------------------ cabecalho------------------- */
header {
    position: relative;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}


.sacola {
    background: url(../img/sacola.png) no-repeat right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 350px;
    padding-top: 5px;
    flex-direction: row;
}

.sacola {
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 10px;
    margin-right: 20px;

}

.sacola p {
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 20px;
    margin-right: 0px;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes a {
    color: #003366;
    list-style: none;
    text-decoration: none;
}

.menu-opcoes a:hover {
    color: #007dc6
}

.menu-opcoes a:active {
    color: #867dc6;
}

.menu-opcoes ul {
    font-size: 15px;
    margin-left: 10px;
}

.menu-cabecalho ul {
    margin-right: 15px;
    margin-bottom: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 30px;
}

/* ---------------------- menu departamentos ---------------------------- */
.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 10px;
    width: 230px;
    clear: left;
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-right: 40px;
    margin-bottom: 1px;
    padding: 5px 10px;
    list-style: none;
}

.menu-departamentos li ul {
    display: none;
}

.menu-departamentos li:hover ul {
    display: block;

}

.menu-departamentos ul ul li {
    background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
    content: '\272A ';
    color: rgb(37, 36, 36);
    opacity: 0.4;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;

}

.busca {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.busca input {
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
    float: left;
}

.destaque {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    height: 420px;

}

.destaque:hover {
    border-radius: 30px 30px;
    box-shadow: 20px 20px  20px lightcoral;
    transform: scale(1.2);
    transition: all 2s ease;

}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
}


/*----------------------- painel de produtos ------------------------ */

.painel {
    width: 940px;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    margin: 10px;
    padding-bottom: 10px;
}


.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.painel a {

    margin-right: 0px;
    color: rgb(36, 23, 181);
    font-size: 12px;
    text-align: center;
    text-decoration: none;

}

.painel figure {
    border: 2px solid rgb(101, 196, 212);
    margin-left: 0px;
    float: left;
}

.novidades {
    float: left;
    margin: auto;
    background-color: #f5dcdc;
    background: linear-gradient(#f5dcdc, #bebefa);

}

.painel h2:before {
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
    color: rgb(37, 36, 36);
}


.painel {
    border-radius: 10px;
    box-shadow: inset 1px 1px 4px #999;
}

.painel h2 {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8)
}

.painel li:hover {
    transform: scale(2.3);
}

.mais-vendidos {
    background: #dcdcf5;
    background: linear-gradient(#dcdcf5, #f4bebe);

}

.painel [a*=figcaption]:hover {
    background-color: #999;
}

/* ------------------inicio footer -------------*/

footer {
    clear: both;
    padding: 20px 0;
    margin-bottom: 10px;


}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 16px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 0px;
    list-style: none;
    margin-right: 10px;
}

.social a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="http://twitter.com/mirrorfashion"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="http://plus.google.com/mirrorfashion"] {
    background-image: url(../img/googleplus.png);
}