* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin-left: auto;
    margin-right: auto;
    width: 935px;
    color: #333333;
    font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
    background: #9fb2c684;
    border: 2px solid lightblue;
}  


/*----------------- Cabeçalho----------------  */

header{
    position: relative;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    height: auto;
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}
 .container h1 , .container p {
    vertical-align: middle;
   
} 

.sacola{
    background: url(../img/sacola.png) no-repeat right ;
    font-size :14px;
    padding-right: 35px;
    text-align: right;
    width: 350px;
    padding-top: 10px;
    flex-direction: row;
}
.sacola{
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 10px;
    margin-right: 20px;
    /* justify-content: space-between; */
   

}
 .sacola p {
    flex-direction: row;
    position: absolute; 
    top: 0px; 
   right: 20px; 
   margin-right: 0px;
}
.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes a:hover{
    color:#007dc6;
}
.menu-opcoes a:active{
    color: #867dc6;
}
.menu-opcoes ul {
    font-size: 15px;
    margin-left: 10px;
}
 .menu-opcoes a {
    color: #003366;
    list-style: none;
    text-decoration: none;

} 
 .menu-opcoes ul li{
    display: inline;
    margin-left: 30px;

}


/* -----------formatação de texto das paginas -------- */

 h1{ 
      padding: 10px; 
      margin-left: 5px;
 }  

h2{
    border-bottom:  2px solid #333333;
    margin-top: 30px;
    }
.paragrafo{
    padding: 20px;
    margin: 5px;
    text-indent: 30px;
   
}
h1 + P {
    text-indent: 0;
}
p::first-letter{
    font-weight: bold;
}

:not(p) + p:first-line {
    font-variant: small-caps;
    }

/* ----------------imagens das paginas -----------------*/
figure{
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    margin: 30px;
    padding: 15px;
   
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
} 
 #familia-pelho{
    float: right;
    margin: 25px 0 10px 10px;
    width: 280px;
    height: 295px;
}
#familia-pelho img{
    width: 250px;
    height: 250px;
    
}

figcaption{
    font-style: italic;
    margin: 0px;

}



/* ----------- formatação do rodapé ------------ */
footer {
     clear: both;
    padding: 20px 0;
margin-bottom: 10px;

   
}
footer .container{
    position: relative;
}
.social{
    position: absolute;
    top: 12px;
    right: 0;
}
.social li{
    float: left;
    margin-left: 0px;
    list-style: none;
    margin-right: 10px;
}
.social a{
    /* tamanho da imagem  */
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="http://twitter.com/mirrorfashion"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="http://plus.google.com/mirrorfashion"] {
    background-image: url(../img/googleplus.png);
}

